<?xml version="1.0"?>
<config>
	<modules>
		<Unicached_ShippingRate>
			<version>1.0.0</version>
		</Unicached_ShippingRate>
	</modules>
	<global>
		<blocks>
			<unicachedrate>
				<class>Unicached_ShippingRate_Block</class>
			</unicachedrate>
		</blocks>
		<models>
			<unicachedrate>
				<class>Unicached_ShippingRate_Model</class>
			</unicachedrate>
		</models>
		<helpers>
			<unicachedrate>
				<class>Unicached_ShippingRate_Helper</class>
			</unicachedrate>
		</helpers>
		<resources>
			<unicachedrate_write>
				<connection>
					<use>core_write</use>
				</connection>
			</unicachedrate_write>
			<unicachedrate_read>
				<connection>
					<use>core_read</use>
				</connection>
			</unicachedrate_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<unicachedrate>
				<use>standard</use>
				<args>
					<module>Unicached_ShippingRate</module>
					<frontName>unicachedrate</frontName>
				</args>
			</unicachedrate>
		</routers>
	</frontend>
	<default>
		<shipping>
			<unicachedrate>
				<url>http://www.ups.com/using/services/rave/qcostcgi.cgi</url>
				<cache_timeout>8766</cache_timeout>
				<uri_pattern>/[[:^alnum:]]/</uri_pattern>
				<uri_replacement>|</uri_replacement>
			</unicachedrate>
		</shipping>
	</default>
</config>